DB_HOST=localhost
DB_USER=root
DB_PASSWORD=                        
DB_NAME=safestay_db     
DB_PORT=3306                       

JWT_SECRET=1f6061659cae0537b1a9c9c1f1fc22da38d1b4912651919e4da29057b9a49383  
JWT_EXPIRE=7d

PORT=5000                           
NODE_ENV=development              

UPLOAD_DIR=./uploads              
